.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 32px;
}

.item {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 888px;
  padding: 24px;
}

.image {
  width: 292px;
  height: 320px;
  object-fit: cover;
  border-radius: 10px;
}

.info {
  padding: 20px;
  flex-grow: 1;
}
.ratingStar {
  font-size: 18px;
  color: #ffc531;
  margin: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #101828;
  margin: 0;
}

.price {
  color: #101828;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.rating {
  margin: 10px 0;
  color: #101828;
}

.location {
  font-size: 1em;
  color: #101828;
}
.infoContainer {
  display: flex;
  align-items: center;
  gap: 16px;
}
.description {
  font-size: 0.9em;
  color: #475467;
  margin: 10px 0;
}

.features {
  display: flex;
  flex-wrap: wrap;
  padding: 12px 18px;
  align-items: center;
  gap: 8px;
}

.feature {
  background-color: #f2f4f7;
  padding: 5px 10px;
  border-radius: 5px;
  color: #101828;
  border-radius: 100px;

  text-align: center;
  font-weight: 500;
  line-height: 24px;
}

.showMore {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #ff6b6b;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

.showMore:hover {
  background-color: #ff4f4f;
}
.priceLike {
  display: flex;
  align-items: center;
  gap: 12px;
}
.like {
  background-color: transparent;
  width: 24px;
  height: 24px;
  padding: 0;
}
.like:hover,
.like:active,
.like:focus {
  border-color: transparent;
}
.icon {
  fill: #101828;
}
.checked {
  fill: #eb5d5d;
}
