.filtersContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fff;
  padding: 20px;
  width: 360px;
}

.location {
  color: #6c717b;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  position: relative;
}
.lable {
  margin-bottom: 8px;
}
.input {
  display: flex;
  width: 360px;
  height: 56px;
  padding: 18px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  border-radius: 12px;
  background: #f7f7f7;
  box-sizing: border-box;
  padding-left: 40px;
  border-color: transparent;
}
.mupIcon {
  position: absolute;
  left: 16px;
  top: 47px;
  height: 20px;
  width: 20px;
}
.filterItem {
  margin-top: 10px;
  padding: 10px;
  background-color: #f8f8f8;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.section {
  margin-top: 20px;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 32px;
}
.title {
  color: #475467;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.text {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 48px;
  position: relative;
}
.text::after {
  content: "";
  width: 360px;
  height: 1px;
  background-color: #dadde1;
  display: block;
  position: absolute;
  left: 0;
  bottom: -24px;
}
.filterButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 112px;
  height: 112px;
  color: #000000;
  border-radius: 12px;
  border: 1px solid #dadde1;
  background-color: transparent;
  mix-blend-mode: multiply;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filterButton.active,
.filterButton:hover,
.filterButton:focus {
  border-color: #ff6b6b;
}

.searchButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ff6b6b;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.searchButton:hover {
  background-color: #ff4f4f;
}
.icon {
  width: 32px;
  height: 32px;
}
