.container {
  margin-left: auto;
  margin-right: auto;
  width: 1440px;
  height: 696px;
  background-color: #ffffff;
  color: #101828;
  background-image: url("../../img/banner.jpg");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contentBox {
  padding-left: 64px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.textBox {
  margin: 0;
}
.title {
  font-size: 48px;
  color: #f7f7f7;
  margin: 0;
}
.text {
  color: #f7f7f7;
  font-size: 24px;
  margin: 0;
}
.button {
  box-sizing: border-box;
  padding: 16px 48px;
  border-radius: 200px;
  letter-spacing: -0.08px;
  font-family: "Inter", sans-serif;
  background: #e44848;
  width: 173px;
  color: #fff;
  font-size: 16px;
}
